* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type='text'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

input[type='text']:focus,
input[type='password']:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  box-shadow: none ;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 2.5rem;
}

/* Set a style for all buttons */

.btn {
  border: none;
  font-weight: bolder;
  color: white;
  background: transparent;
  width: 100%;
  opacity: 0.9;
  outline: none;
  cursor: pointer;
  padding: 0.4rem;
}

@media (max-width: 700px) {
  .btn {
    width: 50%;
  }
}

button:hover {
  opacity: 1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  max-width: 1600px;
  margin: auto;
}

/* home */

.form-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 3rem auto;
}

.text-center {
  text-align: center;
  margin-top: 1.5rem;
}

.blogPost__content {
  display: flex;
  align-items: center;
  padding: 3rem;
}

.btn-delete {
  width: 30%;
}

.btn-update {
  background: rgb(179, 179, 42);
  margin-left: 4rem;
}

.error {
  color: white;
  margin-bottom: 1rem;
  transform: translateX(-20vh) translateY(20rem);
  transition: 0.3s ease-in-out;
  font-size: 2rem;
}

.reveal {
  transform: translateX(0);
}
