*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, -0.875rem + 8.333vw, 2.5rem);
  -webkit-text-size-adjust: 100%;
  line-height: 1.7;
}

@media (min-width: 700px) {
  html {
    font-size: 62.5%;
  
  }
}

body {
  background:#ffff;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  display: block;
  width: 100%;
  border-style: none;
}



textarea {
  width: 100%;
  border:none;
  outline: none;
  resize: none;
  background: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg&ga=GA1.2.1950443642.1616284800') center no-repeat;
  background-size: cover;
  font-weight: bold;
}


input{
  background: transparent;
  border:none;
  outline: none;
  color: rgb(175, 177, 190);
}
